<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">TIENTCHEU Igor</div>

  <ul class="nav-links" *ngIf="!isMobile">
    <li (click)="scrollTo('top'); closeMenu()">Accueil</li>
    <li (click)="scrollTo('about'); closeMenu()">À propos</li>
    <li (click)="scrollTo('services'); closeMenu()">Services</li>
    <li (click)="scrollTo('projects'); closeMenu()">Projets</li>
    <li (click)="scrollTo('contact'); closeMenu()">Contact</li>
  </ul>

  <div class="nav-right">
    <button class="theme-toggle" (click)="toggleTheme()">
      {{ currentTheme === 'dark' ? 'Clair' : 'Sombre' }}
    </button>

    <button class="burger-menu" (click)="toggleMenu()" [class.active]="!isMobile">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>

<section class="hero" @fadeIn>
  <div class="hero-content" id="top">
    <div class="left">
      <div class="greeting">
        <!-- <span class="wave">👋</span> -->
        <h2>Bonjour, je suis</h2>
      </div>
      <h1>TIENTCHEU Igor</h1>
      <h3>Développeur Full Stack</h3>

      <p class="subtitle">
        Passionné par le développement web moderne, je crée des solutions digitales innovantes
        qui transforment vos idées en applications performantes et intuitives.
      </p>

      <div class="skills-preview">
        <span class="skill">Angular</span>
        <span class="skill">React</span>
        <span class="skill">NestJs</span>
        <span class="skill">Node.js</span>
        <span class="skill">TypeScript</span>
      </div>

      <div class="cta">
        <button class="primary" (click)="scrollTo('contact')">
          <span>Collaborons ensemble</span>
          <i class="arrow">→</i>
        </button>
        <button class="secondary" (click)="scrollTo('projects')">
          Voir mes projets
        </button>
      </div>

      <!-- <div class="stats">
        <div class="stat">
          <span class="number">3+</span>
          <span class="label">Années d'expérience</span>
        </div>
        <div class="stat">
          <span class="number">15+</span>
          <span class="label">Projets réalisés</span>
        </div>
      </div> -->
    </div>

    <div class="right">
      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="me.png" alt="Igor TIENTCHEU"/>
        </div>
        <div class="ring"></div>
        <div class="floating-elements">
          <div class="element code"> <img src="/nestjs.png" alt=""> </div>
          <div class="element react"> <img src="/angular.png" alt=""></div>
          <div class="element node"> <img src="/nextjs.png" alt=""></div>
          <div class="element mongoosedb"> <img src="/mongoosedb.png" alt=""></div>
          <div class="element github"> <img src="/github.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>